.blocks-expression {
  display: inline-flex;
  align-items: stretch;
  color: black;
  border: 2px solid black;
  border-radius: 500px 0px 0px 500px;
  margin: 5px;
  background: #ccc;
}

.blocks-operator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  border-right: 2px solid black;
  padding: 5px;
  min-width: 20px;
  text-align: center;
}

.blocks-args {
  flex-grow: 1;
  background: #eee;
}

.blocks-literal {
  display: inline-block;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

