{
  "plugins": [
    "react-hot-loader/babel",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Firefox >= 50",
            "Safari >= 10",
            "Chrome >= 60",
            "Edge >= 13"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "sourceMaps": true
}
