{
  "plugins": [
    "react-hot-loader/babel"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Firefox >= 52",
            "Safari >= 9",
            "Chrome >= 60",
            "IE >= 10"
          ]
        }
      }
    ],
    "react",
    "stage-1"
  ],
  "sourceMaps": true
}
