{{#> node type="condExpression"}}
<span class="blocks-operator">
	cond
</span>
<table class="blocks-cond-table">
  <tr class="blocks-cond-drop-row">
    <td colspan="2">{{> drop-target location=node.firstClause.from}}</td>
  </tr>
  {{#each node.clauses}}
  {{{renderNode this}}}
  <tr class="blocks-cond-drop-row">
    <td colspan="2">{{> drop-target location=this.to}}</td>
  </tr>
  {{/each}}
</table>
{{/node}}
