{{#> node type="expression"}}
<div role="group">
<span class="blocks-operator">{{{renderNode node.func}}}</span>
<span class="blocks-args">
  {{#if node.args.length}}
  {{> drop-target location=node.args.[0].from}}
  {{else}}
  {{> drop-target location=node.func.to}}
  {{/if}}
  {{#each node.args}}
  {{{renderNode this}}}
  {{> drop-target location=this.to}}
  {{/each}}
</span>
</div>
{{/node}}
