{{#> node type="expression"}}
<span class="blocks-operator">{{{renderNode node.func cm callback}}}</span>
<span class="blocks-args">
  {{#if node.args.length}}
  {{> drop-target location=node.args.[0].from}}
  {{else}}
  {{> drop-target location=node.func.to}}
  {{/if}}
  {{#each node.args}}
  {{{renderNode this ../cm ../callback}}}
  {{> drop-target location=this.to}}
  {{/each}}
</span>
{{/node}}
