{{#> node type="functionDef"}}
<span class="blocks-operator">define</span>
<span class="blocks-args">
  {{{renderNode node.name}}}
  {{#each node.args}}
  	{{{renderNode this}}}
  {{/each}}
  {{{renderNode node.body}}}
</span>
{{/node}}
