{{#> node type="ifExpression"}}
<span class="blocks-operator">
	if
</span>
<table class="blocks-cond-table">
  <tr class="blocks-cond-row">
    <td class="blocks-cond-predicate">
      {{{renderNode node.testExpr}}}
    </td>
    <td class="blocks-cond-result">
      {{{renderNode node.thenExpr}}}
    </td>
  </tr>
  <tr class="blocks-cond-row">
    <td class="blocks-cond-predicate blocks-cond-else">
      else
    </td>
    <td class="blocks-cond-result">
      {{{renderNode node.elseExpr}}}
    </td>
  </tr>
</table>
{{/node}}
