{{#> node type="lambdaExpression"}}
<span class="blocks-operator">
	lambda(
  	{{#if node.args.length}}
  		{{> drop-target location=node.args.[0].from}}
  	{{else}}
  		{{> drop-target location=node.func.to}}
  	{{/if}}
  	{{#each node.args}}
  		{{{renderNode this}}}
  	{{> drop-target location=this.to}}
  	{{/each}}
	)
</span>
<span class="blocks-args">
  {{{renderNode node.body}}}
</span>
{{/node}}
