<span 	class="blocks-node blocks-{{type}}" 
		tabindex="1" role="treeitem" 
		aria-label="{{node.options.aria-label}}" 
		aria-multiselectable="true"
		aria-selected="false"
		id="block-node-{{node.id}}">{{> @partial-block}}</span>
