{{#> node type="struct"}}
<span class="blocks-operator">define-struct</span>
<span class="blocks-args">
  <span class="blocks-name">{{node.name}}</span>g
  {{#each node.fields}}
  <span class="blocks-literal">{{this}}</span>
  {{/each}}
</span>
{{/node}}
