{{#> node type="struct"}}
<span class="blocks-operator"><span>define-struct</span> {{{renderNode node.name}}}</span>
<span class="blocks-args">
  {{#if node.fields.length}}
  	{{> drop-target location=node.fields.[0].from}}
  {{else}}
  	{{> drop-target location=node.func.to}}
  {{/if}}
  {{#each node.fields}}
  	{{{renderNode this}}}
  	{{> drop-target location=this.to}}
  {{/each}}
</span>
{{/node}}
