{{#> node type="struct"}}
<span class="blocks-operator">define-struct</span>
<span class="blocks-args">
  {{{renderNode node.name}}}
  {{#each node.fields}}
  	{{{renderNode this}}}
  {{/each}}
</span>
{{/node}}
