{{#> node type="unknown" title=node.msg}}
<span class="blocks-operator">{{{renderNode node.elts.[0] cm callback}}}</span>
<span class="blocks-args">
  {{#if node.elts.length}}
  {{> drop-target location=node.args.[0].from}}
  {{else}}
  {{> drop-target location=node.elts.to}}
  {{/if}}
  {{#each node.elts}}
  {{#unless @first}}
	  {{{renderNode this ../cm ../callback}}}
	  {{> drop-target location=this.to}}
  {{/unless}}
  {{/each}}
</span>
{{/node}}
