.Editor {
  border: 1px solid #ddd;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  .glyphicon { font-family: 'Glyphicons Halflings'; }
  .glyphicon-pencil    { &:before { content: "\270f"; } }
  .glyphicon-align-left{ &:before { content: "\e052"; } }
  .react-codemirror2{ width: 100%; }

  > .toolbar-pane {
    border-right: 1px solid #ddd;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    position: relative;
    transition: width 2s, min-width 2s;
    min-width: 200px;
    max-width: 200px;
  }

  > .codemirror-pane {
    padding: 0px 0px;
    width: 100%;
  }

  > .Toolbar {
    height: 100%;
    opacity: 1;
  }
  /* in text mode, the toolbar should have a width of 0 */
  &.text {
    > .toolbar-pane { border: none; width: 0px; min-width: 0px; }
  }

  > .TrashCan {
    height: 0px;
    opacity: 0;
    transition: opacity .25s, transform .15s;
  }

  &.show-trashcan {
    > .TrashCan {
      height: 100%;
      opacity: 1;
      transform: scale(1);
    }
    > .Toolbar {
      height: 0px;
      opacity: 0;
    }
  }
  
  .blocks-toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    width: 34px;
    height: 34px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black, 4px 4px 4px white;
    &:focus {
      outline: 0;
    }
  }
}
