#DialogContents {
  position:     absolute;
  z-index:      999;
  background:   black;
  opacity:      0.85;
  display:      table;
  width:        100%;
  height:       100%;
  overflow:     scroll;
  left:         50%;
  top:          50%;
  border-radius:50px;
  border:       3px white double;
  text-align:   center;
  font-size:    14px;
  color:        white;
  padding:      20px; 
  transform: translateX(-50%) translateY(-50%);

  .dialogTitle {
    font-size: larger;
    font-weight: 900;
  }

  .closeDialog {
    width:        150px;
    background:   black;
    border:       3px white double;
    text-align:   center;
    font-size:    18px;
    color:        white;
    display:      block;
    margin:       auto;
    margin-top:   100px;
    clear:        both;
  }

  .shortcuts {
    width: 100%;
    min-width: 450px;
    text-align: center;
    float: left;
    padding: 20px;
    table {width: 100%;}
    td:first-child, th:first-child { text-align: left; width: 50%; }
    td:last-child, th:last-child { text-align: right; width: 50%; }
    kbd+kbd {margin-left: 10px; }
    tr:hover { 
      background: white; color: black; 
      kbd {background-color: lightgray; color: black;}
    }
  }
  .screenreader { 
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden; 
  }
}
