.TrashCan {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  width: 34px;
  height: 34px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px black, 4px 4px 4px white;
  > .glyphicon-trash {
    &:before { content: "\e020"; }
  }
  &.over {
    color: #777;
  }
  &:focus {
    outline: 0;
  }
}
