.CodeMirror-lines.fadein, .fadein .blocks-node{
  animation-name: fadein;
  animation-duration: 1.5s; 
}
.fadeout{
  animation-name: fadein;
  animation-duration: 1.5s; 
}
#clones * { 
  display:  inline-block;
  position: absolute;
  will-change: transform; 
}
#clones .box{ border: dotted 1px lightgray; border-radius: 15px; }
#clones .box *{ visibility: hidden; }
#clones.animate * { transition: transform 1.0s linear; transform: none !important;}

@keyframes fadein {
    0% { opacity: 0; }
   50% { opacity: 0; }
   70% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
    0% { opacity: 1; }
   50% { opacity: 0; }
   70% { opacity: 0; }
  100% { opacity: 0; }
}