.blocks-language-lambda {
  @border-radius: 5px;
  @border-width: 1px;

  .blocks-prog {
    border: 1px solid black;
    display: block;
    border-radius: 5px;
    > h4 {
      border-bottom: 1px solid black;
      text-align: center;
    }
  }
}