.blocks-struct,
.blocks-functionDef,
.blocks-expression {
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  background: #ccc;
  cursor: default;
  overflow: hidden;
}

.blocks-operator {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  background: black;
  color: white;
}

.blocks-args {
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
  background: #eee;
}

.blocks-name,
.blocks-literal {
  display: inline-block;
  color: black;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid transparent;
}
.blocks-literal * {
  pointer-events: none;
}
.blocks-name {
  color: #2e75b5;
}

.blocks-literal-number {
  color: blue;
}
.blocks-literal-string {
  color: green;
}
.blocks-literal-char {
  color: orange;
}
.blocks-literal-boolean {
  color: darkred;
}
.blocks-literal-symbol {
  color: steelblue;
}


.blocks-selected {
  border-color: orange;
}

.blocks-editing {
  outline: 0;
}

.blocks-literal.blocks-editing {
  border: 2px solid orange;
}

.blocks-over-target {
  background-color: lightblue;
  border-radius: 15px;
}
.blocks-literal.blocks-over-target {
  background-color: red;
}

.blocks-white-space:before {
  content: ' ';
}
.blocks-white-space {
  padding: 5px;
  border: 2px solid transparent;
  font-weight: bold;
}

.blocks-white-space:hover {
  border-color: black;
  border-radius: 5px;
}
.blocks-white-space:hover:before {
  content: '+';
}

.blocks-white-space.blocks-editing:before {
  content: '';
}
.blocks-white-space.blocks-editing {
  font-weight: normal;
  margin: 15px;
}