.blocks-language-wescheme {
  // Import it. It will use the parameters below. Hooray for weird scope.
  @import "../../less/default-style.less";
  // Set parameters for standard-style.less
  @border-radius: 5px;
  @border-width: 2px;
  // And colors
  @comment-color: #ddd;
  @comment-background-color: #444;
  @border-color: black;
  @focus-border-color: orange;
  @error-border-color: red;
  @border-hint: rgba(255, 165, 0, 0.3);
  @drag-drop-background-color: lightblue;
  @drag-replace-background-color: red;

  // Settings for this file
  @large-border-radius: 15px;
  // And colors
  @literal-number-color: blue;
  @literal-string-color: green;
  @literal-char-color: orange;
  @literal-boolean-color: darkred;
  @literal-symbol-color: steelblue;
  
  .blocks.literal {
      .blocks-literal-number {
          color: @literal-number-color;
      }
      .blocks-literal-string {
          color: @literal-string-color;
      }
      .blocks-literal-char {
          color: @literal-char-color;
      }
      .blocks-literal-boolean {
          color: @literal-boolean-color;
      }
      .blocks-literal-symbol {
          color: @literal-symbol-color;
      }
  }

  .blocks-condExpression,
  .blocks-ifExpression {
    border-radius: 0px;
    background: white;
    > .blocks-operator {
      justify-content: flex-start;
    }
    > .blocks-cond-table {
      display: table;
      min-width: 400px;
      margin: 1px;
      .blocks-cond-drop-row {
        .blocks-white-space {
          display: table-row;
        }
      }
      .blocks-condClause {
        border: @border-width inset gray;
        display: block;
        padding: 3px;
        text-align: center;
        min-width: 200px;
        &:focus {
          border-color: @focus-border-color;
        }
        .blocks-cond-row {
          text-align: left;
          display: block;
          border-top: 1px solid #aaa;
          .blocks-cond-predicate, .blocks-cond-result {
            display: inline-block;
            &.blocks-cond-else {
              color: #777;
            }
          }
        }
        .blocks-cond-row:first-child {
          border-top: 0px;
        }
      }
      .blocks-condClause:first-of-type::before{
        content: "test \00A0  \2192 \00A0  result";
      }
    }
  }

  .blocks-lambdaExpression {
    border-radius: @large-border-radius @large-border-radius 0px 0px;
  }

}

// Set the height based on the available screen height.
// BE CAREFUL WHEN DOING MATH IN LESS.
// If we had instead written:
//     @height: 100vh - 50px;
// that would set @height to 50vh, _by design_.
// https://github.com/less/less.js/issues/3269
@height: calc(~"100vh - 300px");

.CodeMirror {
    height: @height;
}

#code {
    height: @height;
}
