.blocks-language-pyret {
  // Import it. It will use the parameters below. Hooray for weird scope.
  @import "../../less/default-style.less";
  // Set parameters for standard-style.less
  @border-radius: 5px;
  @border-width: 2px;
  // And colors
  @comment-color: #ddd;
  @comment-background-color: #444;
  @border-color: black;
  @focus-border-color: orange;
  @error-border-color: red;
  @border-hint: rgba(255, 165, 0, 0.3);
  @drag-drop-background-color: lightblue;
  @drag-replace-background-color: red;

  // Settings for this file
  @literal-number-color: blue;
  @literal-string-color: green;
  @literal-boolean-color: darkred;
  
  .blocks.literal {
      .blocks-literal-number {
          color: @literal-number-color;
      }
      .blocks-literal-string {
          color: @literal-string-color;
      }
      .blocks-literal-boolean {
          color: @literal-boolean-color;
      }
  }
}

// Set the height based on the available screen height.
// BE CAREFUL WHEN DOING MATH IN LESS.
// If we had instead written:
//     @height: 100vh - 50px;
// that would set @height to 50vh.
// https://github.com/less/less.js/issues/3269
@height: calc(~"100vh - 300px");

.CodeMirror {
    height: @height;
}

#code {
    height: @height;
}
